@media (max-width: 767px) {
  .aboutWebDev {
    columns: 1;
  }
  .cards {
    grid-template-columns: 100%;
    grid-template-rows: 30% 30% 30%;
  }
  .fourthSection {
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 50%);
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .cards {
    grid-template-columns: 100%;
    grid-template-rows: 30% 30% 30%;
  }
  .fourthSection {
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 50%);
  }
}

@media (min-width: 991px) and (max-width: 1199px) {
  .cards {
    grid-template-columns: 100%;
    grid-template-rows: 30% 30% 30%;
  }
}

@media (min-width: 1200px) {
}
